# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/agent.githedgehog.com_agents.yaml
- bases/wiring.githedgehog.com_racks.yaml
- bases/wiring.githedgehog.com_switches.yaml
- bases/wiring.githedgehog.com_servers.yaml
- bases/wiring.githedgehog.com_connections.yaml
- bases/wiring.githedgehog.com_switchprofiles.yaml
- bases/wiring.githedgehog.com_serverprofiles.yaml
- bases/vpc.githedgehog.com_vpcs.yaml
- bases/vpc.githedgehog.com_vpcattachments.yaml
- bases/vpc.githedgehog.com_vpcsummaries.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- path: patches/webhook_in_agents.yaml
#- path: patches/webhook_in_racks.yaml
#- path: patches/webhook_in_switches.yaml
#- path: patches/webhook_in_servers.yaml
#- path: patches/webhook_in_connections.yaml
#- path: patches/webhook_in_switchprofiles.yaml
#- path: patches/webhook_in_serverprofiles.yaml
#- path: patches/webhook_in_vpcs.yaml
#- path: patches/webhook_in_vpc_vpcattachments.yaml
#- path: patches/webhook_in_vpc_vpcsummaries.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- path: patches/cainjection_in_agents.yaml
#- path: patches/cainjection_in_racks.yaml
#- path: patches/cainjection_in_switches.yaml
#- path: patches/cainjection_in_servers.yaml
#- path: patches/cainjection_in_connections.yaml
#- path: patches/cainjection_in_switchprofiles.yaml
#- path: patches/cainjection_in_serverprofiles.yaml
#- path: patches/cainjection_in_vpcs.yaml
#- path: patches/cainjection_in_vpc_vpcattachments.yaml
#- path: patches/cainjection_in_vpc_vpcsummaries.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
