---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: agents.agent.githedgehog.com
spec:
  group: agent.githedgehog.com
  names:
    kind: Agent
    listKind: AgentList
    plural: agents
    singular: agent
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Agent is the Schema for the agents API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AgentSpec defines the desired state of Agent
            properties:
              connections:
                items:
                  properties:
                    name:
                      type: string
                    spec:
                      description: ConnectionSpec defines the desired state of Connection
                      properties:
                        management:
                          properties:
                            link:
                              properties:
                                server:
                                  properties:
                                    ip:
                                      pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                                      type: string
                                    port:
                                      type: string
                                  type: object
                                switch:
                                  properties:
                                    ip:
                                      pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                                      type: string
                                    oniePortName:
                                      type: string
                                    port:
                                      type: string
                                  type: object
                              type: object
                          type: object
                        mclag:
                          properties:
                            links:
                              items:
                                properties:
                                  server:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                  switch:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                type: object
                              minItems: 2
                              type: array
                          type: object
                        mclagDomain:
                          properties:
                            peerLinks:
                              items:
                                properties:
                                  switch1:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                  switch2:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                type: object
                              minItems: 1
                              type: array
                            sessionLinks:
                              items:
                                properties:
                                  switch1:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                  switch2:
                                    properties:
                                      port:
                                        type: string
                                    type: object
                                type: object
                              type: array
                          type: object
                        unbundled:
                          properties:
                            link:
                              properties:
                                server:
                                  properties:
                                    port:
                                      type: string
                                  type: object
                                switch:
                                  properties:
                                    port:
                                      type: string
                                  type: object
                              type: object
                          type: object
                      type: object
                  type: object
                type: array
              controlVIP:
                type: string
              portChannels:
                additionalProperties:
                  type: integer
                type: object
              portGroupSpeeds:
                additionalProperties:
                  type: string
                type: object
              switch:
                description: SwitchSpec defines the desired state of Switch
                properties:
                  lldp:
                    properties:
                      description:
                        type: string
                      helloTimer:
                        description: A Duration represents the elapsed time between
                          two instants as an int64 nanosecond count. The representation
                          limits the largest representable duration to approximately
                          290 years.
                        format: int64
                        type: integer
                      name:
                        type: string
                    type: object
                  location:
                    description: Location defines the geopraphical position of the
                      device in a datacenter
                    properties:
                      aisle:
                        type: string
                      location:
                        type: string
                      rack:
                        type: string
                      row:
                        type: string
                      slot:
                        type: string
                    type: object
                  locationSig:
                    description: LocationSig contains signatures for the location
                      UUID as well as the device location itself
                    properties:
                      sig:
                        type: string
                      uuidSig:
                        type: string
                    type: object
                  portGroupSpeeds:
                    additionalProperties:
                      type: string
                    type: object
                  profile:
                    type: string
                type: object
              users:
                items:
                  properties:
                    name:
                      type: string
                    password:
                      type: string
                    role:
                      type: string
                  type: object
                type: array
              vpcVLANRange:
                type: string
              vpcs:
                items:
                  properties:
                    name:
                      type: string
                    spec:
                      description: VPCSpec defines the desired state of VPC
                      properties:
                        dhcp:
                          properties:
                            enable:
                              type: boolean
                          type: object
                        subnet:
                          type: string
                      type: object
                    vlan:
                      type: integer
                  type: object
                type: array
            type: object
          status:
            description: AgentStatus defines the observed state of Agent
            properties:
              lastAppliedGen:
                format: int64
                type: integer
              lastAppliedTime:
                format: date-time
                type: string
              lastAttemptGen:
                format: int64
                type: integer
              lastAttemptTime:
                format: date-time
                type: string
              nosInfo:
                properties:
                  asicVersion:
                    type: string
                  buildCommit:
                    type: string
                  buildDate:
                    type: string
                  builtBy:
                    type: string
                  configDbVersion:
                    type: string
                  distributionVersion:
                    type: string
                  hardwareVersion:
                    type: string
                  hwskuVersion:
                    type: string
                  kernelVersion:
                    type: string
                  mfgName:
                    type: string
                  platformName:
                    type: string
                  productDescription:
                    type: string
                  productVersion:
                    type: string
                  serialNumber:
                    type: string
                  softwareVersion:
                    type: string
                  upTime:
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
