---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: catalogs.agent.githedgehog.com
spec:
  group: agent.githedgehog.com
  names:
    categories:
    - hedgehog
    kind: Catalog
    listKind: CatalogList
    plural: catalogs
    singular: catalog
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Catalog is the Schema for the catalogs API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CatalogSpec defines the desired state of Catalog
            properties:
              connectionIDs:
                additionalProperties:
                  format: int32
                  type: integer
                description: ConnectionSystemIDs stores connection name -> ID, globally
                  unique for the fabric
                type: object
              externalIDs:
                additionalProperties:
                  type: integer
                description: ExternalIDs stores external name -> ID, unique per switch
                type: object
              irbVLANs:
                additionalProperties:
                  type: integer
                description: IRBVLANs stores VPC name -> IRB VLAN ID, unique per redundancy
                  group (or switch), it includes Externals too with ext@ prefix
                type: object
              loopbackWorkaroundLinks:
                additionalProperties:
                  type: string
                description: LoopbackWorkaroundLinks stores loopback workaround "request"
                  name (vpc@<vpc-peering> or ext@<external-peering>) -> loopback link
                  name (<port1--port2>), unique per switch
                type: object
              loopbackWorkaroundVLANs:
                additionalProperties:
                  type: integer
                description: LoopbackWorkaroundVLANs stores loopback workaround "request"
                  -> VLAN ID, unique per switch
                type: object
              portChannelIDs:
                additionalProperties:
                  type: integer
                description: PortChannelIDs stores Connection name -> PortChannel
                  ID, unique per redundancy group (or switch)
                type: object
              staticExternalSubnetOffsets:
                additionalProperties:
                  type: integer
                description: StaticExternalSubnetOffsets stores external attachment
                  name -> subnet offset, unique per switch
                type: object
              subnetIDs:
                additionalProperties:
                  format: int32
                  type: integer
                description: SubnetIDs stores subnet -> ID, unique per switch
                type: object
              th5WorkaroundVLANs:
                additionalProperties:
                  type: integer
                description: TH5WorkaroundVLANs stores TH5 workaround mesh link ->
                  VLAN ID, unique per switch
                type: object
              vpcSubnetVNIs:
                additionalProperties:
                  additionalProperties:
                    format: int32
                    type: integer
                  type: object
                description: VPCSubnetVNIs stores VPC name -> subnet name -> VPC Subnet
                  VNI, globally unique for the fabric
                type: object
              vpcVNIs:
                additionalProperties:
                  format: int32
                  type: integer
                description: VPCVNIs stores VPC name -> VPC VNI, globally unique for
                  the fabric, it includes Externals too with ext@ prefix
                type: object
            type: object
          status:
            description: CatalogStatus defines the observed state of Catalog
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
