---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: vpcs.vpc.githedgehog.com
spec:
  group: vpc.githedgehog.com
  names:
    categories:
    - hedgehog
    - fabric
    kind: VPC
    listKind: VPCList
    plural: vpcs
    singular: vpc
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.ipv4Namespace
      name: IPv4NS
      type: string
    - jsonPath: .spec.vlanNamespace
      name: VLANNS
      type: string
    - jsonPath: .spec.subnets
      name: Subnets
      priority: 1
      type: string
    - jsonPath: .status.vni
      name: VNI
      priority: 1
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: |-
          VPC is Virtual Private Cloud, similar to the public cloud VPC it provides an isolated private network for the
          resources with support for multiple subnets each with user-provided VLANs and on-demand DHCP.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the desired state of the VPC
            properties:
              defaultIsolated:
                description: DefaultIsolated sets default behavior for isolated mode
                  for the subnets (disabled by default)
                type: boolean
              defaultRestricted:
                description: DefaultRestricted sets default behavior for restricted
                  mode for the subnets (disabled by default)
                type: boolean
              ipv4Namespace:
                description: IPv4Namespace is the name of the IPv4Namespace this VPC
                  belongs to (if not specified, "default" is used)
                type: string
              mode:
                description: Mode is the VPC mode that defines how the VPCs are configured
                  on the switches
                type: string
              permit:
                description: |-
                  Permit defines a list of the access policies between the subnets within the VPC - each policy is a list of subnets that have access to each other.
                  It's applied on top of the subnet isolation flag and if subnet isn't isolated it's not required to have it in a permit list while if vpc is marked
                  as isolated it's required to have it in a permit list to have access to other subnets.
                items:
                  items:
                    type: string
                  type: array
                type: array
              staticRoutes:
                description: StaticRoutes is the list of additional static routes
                  for the VPC
                items:
                  description: VPCStaticRoute defines the static route for the VPC
                  properties:
                    nextHops:
                      description: NextHops for the static route (at least one is
                        required), e.g. 10.99.0.0
                      items:
                        type: string
                      type: array
                    prefix:
                      description: Prefix for the static route (mandatory), e.g. 10.42.0.0/24
                      type: string
                  type: object
                type: array
              subnets:
                additionalProperties:
                  description: VPCSubnet defines the VPC subnet configuration
                  properties:
                    dhcp:
                      description: DHCP is the on-demand DHCP configuration for the
                        subnet
                      properties:
                        enable:
                          description: Enable enables DHCP server for the subnet
                          type: boolean
                        options:
                          description: Options (optional) is the DHCP options for
                            the subnet if DHCP server is enabled
                          properties:
                            advertisedRoutes:
                              description: |-
                                Advertise custom routes to the clients via the classless static route option. If non-empty,
                                and unless the disable default route flag is enabled, a default route via the VPC gateway
                                will be added automatically.
                              items:
                                properties:
                                  destination:
                                    description: Destination is the destination prefix
                                      for the route
                                    type: string
                                  gateway:
                                    description: Gateway is the gateway IP address
                                      for the route
                                    type: string
                                type: object
                              type: array
                            disableDefaultRoute:
                              description: |-
                                Disable default route advertisement. For L3VNI VPCs, a classless static route to the VPC subnet
                                will be advertised if this option is enabled.
                              type: boolean
                            dnsServers:
                              description: 'DNSservers (optional) to configure Domain
                                Name Servers for this particular segment such as:
                                10.10.10.1, 10.10.10.2'
                              items:
                                type: string
                              type: array
                            interfaceMTU:
                              description: InterfaceMTU (optional) is the MTU setting
                                that the dhcp server will send to the clients. It
                                is dependent on the client to honor this option.
                              type: integer
                            leaseTimeSeconds:
                              description: Lease time in seconds, such as 3600
                              format: int32
                              type: integer
                            pxeURL:
                              description: PXEURL (optional) to identify the pxe server
                                to use to boot hosts connected to this segment such
                                as http://10.10.10.99/bootfilename or tftp://10.10.10.99/bootfilename,
                                http query strings are not supported
                              type: string
                            timeServers:
                              description: 'TimeServers (optional) NTP server addresses
                                to configure for time servers for this particular
                                segment such as: 10.10.10.1, 10.10.10.2'
                              items:
                                type: string
                              type: array
                          required:
                          - interfaceMTU
                          - leaseTimeSeconds
                          type: object
                        range:
                          description: Range (optional) is the DHCP range for the
                            subnet if DHCP server is enabled
                          properties:
                            end:
                              description: End is the end IP address of the DHCP range
                              type: string
                            start:
                              description: Start is the start IP address of the DHCP
                                range
                              type: string
                          type: object
                        relay:
                          description: Relay is the DHCP relay IP address, if specified,
                            DHCP server will be disabled
                          type: string
                        static:
                          additionalProperties:
                            description: VPCDHCPStatic represents static IP assignment
                            properties:
                              ip:
                                description: IP is the assigned static IP address
                                type: string
                            required:
                            - ip
                            type: object
                          description: Static is a map of static IP assignments for
                            MAC addresses
                          type: object
                      type: object
                    gateway:
                      description: Gateway (optional) for the subnet, if not specified,
                        the first IP (e.g. 10.0.0.1) in the subnet is used as the
                        gateway
                      type: string
                    isolated:
                      description: Isolated is the flag to enable isolated mode for
                        the subnet which means no access to and from the other subnets
                        within the VPC
                      type: boolean
                    restricted:
                      description: Restricted is the flag to enable restricted mode
                        for the subnet which means no access between hosts within
                        the subnet itself
                      type: boolean
                    subnet:
                      description: Subnet is the subnet CIDR block, such as "10.0.0.0/24",
                        should belong to the IPv4Namespace and be unique within the
                        namespace
                      type: string
                    vlan:
                      description: VLAN is the VLAN ID for the subnet, should belong
                        to the VLANNamespace and be unique within the namespace
                      type: integer
                  type: object
                description: Subnets is the list of VPC subnets to configure
                type: object
              vlanNamespace:
                description: VLANNamespace is the name of the VLANNamespace this VPC
                  belongs to (if not specified, "default" is used)
                type: string
            type: object
          status:
            description: Status is the observed state of the VPC
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
