---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: vpcs.vpc.githedgehog.com
spec:
  group: vpc.githedgehog.com
  names:
    categories:
    - hedgehog
    - fabric
    kind: VPC
    listKind: VPCList
    plural: vpcs
    singular: vpc
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.ipv4Namespace
      name: IPv4NS
      type: string
    - jsonPath: .spec.vlanNamespace
      name: VLANNS
      type: string
    - jsonPath: .spec.subnets
      name: Subnets
      priority: 1
      type: string
    - jsonPath: .status.vni
      name: VNI
      priority: 1
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: VPC is the Schema for the vpcs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VPCSpec defines the desired state of VPC
            properties:
              ipv4Namespace:
                type: string
              subnets:
                additionalProperties:
                  properties:
                    dhcp:
                      properties:
                        enable:
                          type: boolean
                        range:
                          properties:
                            end:
                              type: string
                            start:
                              type: string
                          type: object
                      type: object
                    subnet:
                      type: string
                    vlan:
                      type: string
                  type: object
                type: object
              vlanNamespace:
                type: string
            type: object
          status:
            description: VPCStatus defines the observed state of VPC
            properties:
              subnetVNIs:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
              vni:
                format: int32
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
