---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: vpcsummaries.vpc.githedgehog.com
spec:
  group: vpc.githedgehog.com
  names:
    categories:
    - hedgehog
    - fabric
    kind: VPCSummary
    listKind: VPCSummaryList
    plural: vpcsummaries
    shortNames:
    - vpcsum
    - vs
    singular: vpcsummary
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vpc
      name: VPC
      type: string
    - jsonPath: .spec.vlan
      name: VLAN
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      priority: 10
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: VPCSummary is the Schema for the vpcsummaries API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VPCSummarySpec defines the desired state of VPCSummary
            properties:
              connections:
                items:
                  type: string
                type: array
              vlan:
                type: integer
              vpc:
                description: VPCSpec defines the desired state of VPC
                properties:
                  dhcp:
                    properties:
                      enable:
                        type: boolean
                      range:
                        properties:
                          end:
                            type: string
                          start:
                            type: string
                        type: object
                    type: object
                  subnet:
                    type: string
                type: object
            required:
            - connections
            - vlan
            - vpc
            type: object
          status:
            description: VPCSummaryStatus defines the observed state of VPCSummary
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
