---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: vpcattachments.vpc.githedgehog.com
spec:
  group: vpc.githedgehog.com
  names:
    categories:
    - hedgehog
    - fabric
    kind: VPCAttachment
    listKind: VPCAttachmentList
    plural: vpcattachments
    shortNames:
    - vpcattach
    - attach
    - va
    singular: vpcattachment
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.vpc
      name: VPC
      type: string
    - jsonPath: .spec.connection
      name: Connection
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: VPCAttachment is the Schema for the vpcattachments API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VPCAttachmentSpec defines the desired state of VPCAttachment
            properties:
              connection:
                type: string
              vpc:
                type: string
            type: object
          status:
            description: VPCAttachmentStatus defines the observed state of VPCAttachment
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
