---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: switches.wiring.githedgehog.com
spec:
  group: wiring.githedgehog.com
  names:
    categories:
    - hedgehog
    - wiring
    - fabric
    kind: Switch
    listKind: SwitchList
    plural: switches
    singular: switch
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.location
      name: Location
      type: string
    - jsonPath: .spec.portGroupSpeeds
      name: PortGroupSpeeds
      priority: 1
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: "Switch is the Schema for the switches API \n All switches should
          always have 1 labels defined: wiring.githedgehog.com/rack. It represents
          name of the rack it belongs to."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SwitchSpec defines the desired state of Switch
            properties:
              lldp:
                properties:
                  description:
                    type: string
                  helloTimer:
                    description: A Duration represents the elapsed time between two
                      instants as an int64 nanosecond count. The representation limits
                      the largest representable duration to approximately 290 years.
                    format: int64
                    type: integer
                  name:
                    type: string
                type: object
              location:
                description: Location defines the geopraphical position of the device
                  in a datacenter
                properties:
                  aisle:
                    type: string
                  location:
                    type: string
                  rack:
                    type: string
                  row:
                    type: string
                  slot:
                    type: string
                type: object
              locationSig:
                description: LocationSig contains signatures for the location UUID
                  as well as the device location itself
                properties:
                  sig:
                    type: string
                  uuidSig:
                    type: string
                type: object
              portGroupSpeeds:
                additionalProperties:
                  type: string
                type: object
              profile:
                type: string
            type: object
          status:
            description: SwitchStatus defines the observed state of Switch
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
