---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: servers.wiring.githedgehog.com
spec:
  group: wiring.githedgehog.com
  names:
    categories:
    - hedgehog
    - wiring
    kind: Server
    listKind: ServerList
    plural: servers
    singular: server
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Server is the Schema for the servers API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ServerSpec defines the desired state of Server
            properties:
              location:
                description: Location defines the geopraphical position of the device
                  in a datacenter
                properties:
                  aisle:
                    type: string
                  location:
                    type: string
                  rack:
                    type: string
                  row:
                    type: string
                  slot:
                    type: string
                type: object
              locationSig:
                description: LocationSig contains signatures for the location UUID
                  as well as the device location itself
                properties:
                  sig:
                    type: string
                  uuidSig:
                    type: string
                type: object
              profile:
                type: string
              type:
                enum:
                - control
                type: string
            type: object
          status:
            description: ServerStatus defines the observed state of Server
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
