---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: serverprofiles.wiring.githedgehog.com
spec:
  group: wiring.githedgehog.com
  names:
    categories:
    - hedgehog
    - wiring
    kind: ServerProfile
    listKind: ServerProfileList
    plural: serverprofiles
    singular: serverprofile
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        description: ServerProfile is the Schema for the serverprofiles API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ServerProfileSpec defines the desired state of ServerProfile
            properties:
              nics:
                items:
                  properties:
                    name:
                      type: string
                    ports:
                      items:
                        properties:
                          name:
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: ServerProfileStatus defines the observed state of ServerProfile
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
