---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: connections.wiring.githedgehog.com
spec:
  group: wiring.githedgehog.com
  names:
    categories:
    - hedgehog
    - wiring
    - fabric
    kind: Connection
    listKind: ConnectionList
    plural: connections
    shortNames:
    - conn
    singular: connection
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.labels.fabric\.githedgehog\.com/connection-type
      name: Type
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: Connection is the Schema for the connections API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConnectionSpec defines the desired state of Connection
            properties:
              fabric:
                properties:
                  leaf:
                    properties:
                      asn:
                        format: int32
                        type: integer
                      loopbackIP:
                        type: string
                    type: object
                  links:
                    items:
                      properties:
                        leaf:
                          properties:
                            ip:
                              pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                              type: string
                            port:
                              type: string
                          type: object
                        spine:
                          properties:
                            ip:
                              pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                              type: string
                            port:
                              type: string
                          type: object
                      type: object
                    minItems: 1
                    type: array
                  spine:
                    properties:
                      asn:
                        format: int32
                        type: integer
                    type: object
                type: object
              management:
                properties:
                  link:
                    properties:
                      server:
                        properties:
                          ip:
                            pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                            type: string
                          mac:
                            type: string
                          port:
                            type: string
                        type: object
                      switch:
                        properties:
                          ip:
                            pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}/([1-2]?[0-9]|3[0-2])$
                            type: string
                          oniePortName:
                            type: string
                          port:
                            type: string
                        type: object
                    type: object
                type: object
              mclag:
                properties:
                  links:
                    items:
                      properties:
                        server:
                          properties:
                            port:
                              type: string
                          type: object
                        switch:
                          properties:
                            port:
                              type: string
                          type: object
                      type: object
                    minItems: 2
                    type: array
                  mtu:
                    type: integer
                type: object
              mclagDomain:
                properties:
                  peerLinks:
                    items:
                      properties:
                        switch1:
                          properties:
                            port:
                              type: string
                          type: object
                        switch2:
                          properties:
                            port:
                              type: string
                          type: object
                      type: object
                    minItems: 1
                    type: array
                  sessionLinks:
                    items:
                      properties:
                        switch1:
                          properties:
                            port:
                              type: string
                          type: object
                        switch2:
                          properties:
                            port:
                              type: string
                          type: object
                      type: object
                    minItems: 1
                    type: array
                type: object
              nat:
                properties:
                  link:
                    properties:
                      nat:
                        properties:
                          port:
                            type: string
                        type: object
                      switch:
                        properties:
                          ip:
                            type: string
                          neighborIP:
                            type: string
                          port:
                            type: string
                          remoteAS:
                            format: int32
                            type: integer
                          snat:
                            properties:
                              pool:
                                items:
                                  type: string
                                type: array
                            required:
                            - pool
                            type: object
                        type: object
                    type: object
                type: object
              unbundled:
                properties:
                  link:
                    properties:
                      server:
                        properties:
                          port:
                            type: string
                        type: object
                      switch:
                        properties:
                          port:
                            type: string
                        type: object
                    type: object
                type: object
              vpcLoopback:
                properties:
                  links:
                    items:
                      properties:
                        switch1:
                          properties:
                            port:
                              type: string
                          type: object
                        switch2:
                          properties:
                            port:
                              type: string
                          type: object
                      type: object
                    minItems: 1
                    type: array
                type: object
            type: object
          status:
            description: ConnectionStatus defines the observed state of Connection
            properties:
              applied:
                properties:
                  detailed:
                    additionalProperties:
                      format: int64
                      type: integer
                    type: object
                  gen:
                    format: int64
                    type: integer
                  time:
                    format: date-time
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
