# Make sure commit subject and description follow the Conventional Commits spec.
# See https://www.conventionalcommits.org/

name: "commitlint"

on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  commitlint:
    runs-on: lab

    steps:
      - name: Checkout repository
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
          persist-credentials: "false"

      - name: Run commitlint on Pull Request's commits
        uses: opensource-nepal/commitlint@v1
        with:
          verbose: true

      - name: Block Merge Commits
        if: ${{ always() }}
        uses: Morishiri/block-merge-commits-action@v1.0.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
